<header>
    <p>Codial</p>
    
    <ul>
        <!-- if user is logged in -->
        <% if(locals.user){ %>

            <li>
                <a href="/">
                    <%= user.name %>
                </a>
            </li>
            <li>
                <a href="/users/signout">Sign Out</a>
            </li>
        <!-- if user is not logged in -->
        <% }else{ %>
            <li>
                <a href="/users/signin">Sign In</a>
            </li>
            <li>
                <a href="/users/signup">Sign Up</a>
            </li>
        <% } %>
    </ul>
</header>