<h2>Sign Up</h2>
<form action="/users/create" method="POST">
    <input type="text" name="name" placeholder="Your name" required>
    <br>
    <input type="email" name="email" placeholder="Your email id" required>
    <br>
    <input type="password" name="password" placeholder="Password" required>
    <br>
    <input type="password" name="confirm_password" placeholder="Confirm password" required>
    <!-- i was writing type="button" which is wrong -->
    <input type="submit" value="Sign Up">
</form>

<p>
    <a href="/users/auth/google">Google SignIn/SignUp</a>
</p>
