#home-container{
    display: flex;
    height:100%;
    
    #avatar-container{
        width:24%
    }
    
    #feed-posts{
        width:50%;
        padding:10px;
        border-left: 1px solid grey;
        padding-left: 30px;
    }

    #friends-list{
        width:24%;
        padding:10px;
        border-left: 1px solid grey;
        height: 100%;
    }
}
