#home-container{
    display: flex;
    height:100%;
    
    #user-info{
        width:20%;
    }

    #feed-posts{
        width:55%;
        padding:10px;
        border-left: 1px solid grey;
    }

    #friends-list{
        width:25%;
        padding:10px;
        border-left: 1px solid grey;
        height: 100%;
    }
}
